button {
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background: #2de15b;
  transition: width 0.4s;
}

.sidebar-inner {
  top: 0;
  left: 0;
  width: 200px;
}

.sidebar-header {
  display: flex;
  align-items: center;
  height: 72px;
  padding: 0 1.25rem 0 0;
  background-color: #2de15b;
}

.sidebar-burger {
  width: 50px;
  height: 50px;
}

.sidebar-logo {
  height: 60px;
}

.sidebar-menu {
  display: grid;
}

.sidebar-menu a:hover {
  background-color: aliceblue;
  color: #2de15b;
  text-align: center;
  border-radius: 40px;
  width: 180px;
}

.sidebar-menu > a {
  display: flex;
  gap: 25px;
  align-items: center;
  height: 70px;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 150;
  letter-spacing: 2px;
  line-height: 1;
  padding: 0 25px;
}

.sidebar-menu > button > img {
  width: 24px;
  height: 24px;
}

.sidebar a {
  color: white;
  text-decoration: none;
  font-weight: bolder;
}
