:root {
  /* fonts */
  --font-inter: Inter;
  --font-el-messiri: "El Messiri";
  --font-roboto: Roboto;
  --font-poppins: Poppins;
  --font-inherit: inherit;
  --font-public-sans: "Public Sans";

  /* font sizes */
  --font-size-4xs: 5px;
  --font-size-3xs: 10px;
  --font-size-2xs: 12px;
  --font-size-xs: 14px;
  --font-size-sm: 15px;
  --font-size-base: 16px;
  --font-size-lg: 17px;
  --font-size-xl: 16px;
  --font-size-2xl: 20px;
  --font-size-3xl: 22px;
  --font-size-4xl: 24px;
  --font-size-5xl: 25px;
  --font-size-6xl: 26px;
  --font-size-7xl: 28px;
  --font-size-8xl: 30px;
  --font-size-9xl: 32px;
  --font-size-10xl: 35px;
  --font-size-11xl: 36px;
  --font-size-12xl: 40px;
  --font-size-13xl: 45px;
  --font-size-14xl: 48px;
  --font-size-15xl: 50px;

  /* Colors */
  --color-gray-100: #fafafa;
  --color-gray-200: #efe9e9;
  --color-gray-300: #d9d9d9;
  --color-gray-400: #d4d4d4;
  --color-gray-500: #aaa;
  --color-gray-600: #a3a3a3;
  --text-colour-text-4: #908e8e;
  --color-gray-800: #555;
  --color-gray-900: #393939;
  --color-gray-1000: #373737;
  --color-gray-1100: #211b3d;
  --color-gray-1200: #1e1e1e;
  --color-gray-1300: rgba(0, 0, 0, 0.4);
  --color-gray-1400: rgba(0, 0, 0, 0.02);
  --color-gray-1500: rgba(0, 0, 0, 0.8);
  --color-gray-1600: rgba(0, 0, 0, 0.2);
  --color-gray-1700: rgba(0, 0, 0, 0.7);
  --color-gray-1800: rgba(0, 0, 0, 0.5);
  --color-gray-1900: rgba(0, 0, 0, 0.3);
  --color-green-100: #3ae365;
  --color-green-200: #2de15b;
  --color-green-300: #00c933;
  --color-green:#2DE15B;
  --color-green-400: rgba(45, 225, 91, 0.2);
  --color-green-500: rgba(45, 225, 91, 0.05);
  --color-white: #fff;
  --color-beige-100: #b9f5c8;
  --color-brown: #e12d2d;
  --color-black: #000;
  --color-violet: #569aff;
  --color-red: #d60000;

  /* Gaps */
  --gap-0: 0px;
  --gap-md: 19px;
  --gap-lg: 22px;

  /* Paddings */
  --padding-3xs: 2px;
  --padding-2xs: 5px;
  --padding-xs: 6px;
  --padding-sm: 10px;
  --padding-md: 12px;
  --padding-lg: 15px;
  --padding-xl: 20px;
  --padding-2xl: 24px;
  --padding-3xl: 42px;

  /* border radiuses */
  --br-3xs: 5px;
  --br-2xs: 6px;
  --br-xs: 8px;
  --br-sm: 10px;
  --br-md: 15px;
  --br-lg: 20px;
  --br-xl: 25px;
  --br-2xl: 100px;
}

:root {
  /* fonts */
  --font-inter: Inter;
  --font-el-messiri: "El Messiri";
  --font-roboto: Roboto;
  --font-poppins: Poppins;
  --font-inherit: inherit;
  --font-public-sans: "Public Sans";

  /* font sizes */
  --font-size-4xs: 5px;
  --font-size-3xs: 10px;
  --font-size-2xs: 12px;
  --font-size-xs: 14px;
  --font-size-sm: 15px;
  --font-size-base: 16px;
  --font-size-lg: 17px;
  --font-size-xl: 18px;
  --font-size-2xl: 20px;
  --font-size-3xl: 22px;
  --font-size-4xl: 24px;
  --font-size-5xl: 25px;
  --font-size-6xl: 26px;
  --font-size-7xl: 28px;
  --font-size-8xl: 30px;
  --font-size-9xl: 32px;
  --font-size-10xl: 35px;
  --font-size-11xl: 36px;
  --font-size-12xl: 40px;
  --font-size-13xl: 45px;
  --font-size-14xl: 48px;
  --font-size-15xl: 50px;

  /* Colors */
  --color-white: #fff;
  --color-green-100: #3ae365;
  --color-green-200: #2de15b;
  --color-green-300: #00c933;
  --color-green-400: #057602;
  --color-green-500: rgba(45, 225, 91, 0.2);
  --color-green-600: rgba(45, 225, 91, 0.05);
  --color-black: #000;
  --color-gray-100: #fafafa;
  --color-gray-200: #efe9e9;
  --color-gray-300: #d9d9d9;
  --color-gray-400: #d4d4d4;
  --color-gray-500: #aaa;
  --color-gray-600: #a3a3a3;
  --text-colour-text-4: #908e8e;
  --color-gray-800: #6b6b6b;
  --color-gray-900: #555;
  --color-gray-1000: #393939;
  --color-gray-1100: #373737;
  --color-gray-1200: #211b3d;
  --color-gray-1300: #1e1e1e;
  --color-gray-1400: rgba(0, 0, 0, 0.4);
  --color-gray-1500: rgba(0, 0, 0, 0.02);
  --color-gray-1600: rgba(0, 0, 0, 0.8);
  --color-gray-1700: rgba(0, 0, 0, 0.2);
  --color-gray-1800: rgba(0, 0, 0, 0.7);
  --color-gray-1900: rgba(0, 0, 0, 0.3);
  --color-gray-2000: rgba(0, 0, 0, 0.5);
  --color-beige-100: #b9f5c8;
  --color-brown: #e12d2d;
  --color-violet: #569aff;
  --color-red: #d60000;

  /* Gaps */
  --gap-0: 0px;
  --gap-md: 19px;
  --gap-lg: 22px;

  /* Paddings */
  --padding-4xs: 2px;
  --padding-3xs: 4px;
  --padding-2xs: 5px;
  --padding-xs: 6px;
  --padding-sm: 10px;
  --padding-md: 12px;
  --padding-lg: 15px;
  --padding-xl: 20px;
  --padding-2xl: 24px;
  --padding-3xl: 26px;
  --padding-4xl: 42px;

  /* border radiuses */
  --br-3xs: 5px;
  --br-2xs: 6px;
  --br-xs: 8px;
  --br-sm: 10px;
  --br-md: 15px;
  --br-lg: 20px;
  --br-xl: 25px;
  --br-2xl: 100px;
}


